* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-info {
  min-height: 100vh;
  background:
    linear-gradient(rgba(198, 108, 73, 0.3), rgba(198, 108, 73, 0.3)),
    url('./images/main_bg.jpeg') center / cover;
}